@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", sans-serif;
    background-color: #242424;
    color: white
}


.full {
    width: 100%;
    padding: 4vh;
}

.right {
    float: right;
    width: 50%; 
}

.darker {
    background-color: #1b1b1b;
}

.left {
    float: left;
    width: 50%;
}

.center {
    align-content: center;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #131313;
    color: rgb(214, 214, 214);
    text-align: center;
  }